<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        <h5 style="float: left;">Lista</h5>
        <button style="float: right;" nbButton>Novo</button>
        <span style="float: right; margin-right: 10px; padding: 0 5px;">
          <button nbButton ghost nbTooltip="Limpar Filtro">
            <nb-icon icon="close" pack="eva"></nb-icon>
          </button>
          <nb-search type="rotate-layout" hint="Aperte ENTER para pesquisar ou ESC para cancelar"
            placeholder="Pesquisar" nbTooltip="Pesquisar"></nb-search>
        </span>
      </nb-card-header>

      <nb-card-body>
        TEST
      </nb-card-body>
    </nb-card>
  </div>
</div>
